/*Toggling css*/
.navigateToTopology{
  width: auto !important;
  height: auto !important;
 }
/*Mini map css */

.leaflet-control-minimap .map-icon-img{
    width: 100% !important;
    height: 100% !important;
    margin: -10px 0 0 0 !important;
  }
  .leaflet-control-minimap .icon-text{
    display: none;
  }
  .leaflet-control-minimap .leaflet-pane.leaflet-tooltip-pane{
      display: none;
  }

#geoMapContainer .map-icon-img{
    margin-left: -10px;
    margin-top: -19px;
    width: 30px;
    height: 50px;
    opacity: 1;
    margin-bottom: 8px;
}

.Geomapviewsettings img{
  /*background: url('../images/ic_settings_24px.svg');
  background-size: 18px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;*/
    opacity : 0.5;
}



#geoMapContainer  .icon-text{
      font-family: Nokia Regular;
      font-weight: bold;
      opacity: 0;
      /* border: 1px solid red; */
      text-align: center;
      /* display: inline-block; */
}

.geoMap.showText #geoMapContainer .icon-text {
  opacity: 1;
}


.geoMap.size_s #geoMapContainer .map-icon-img{
  transform: scale(0.5,0.5);
}
.geoMap.size_m #geoMapContainer .map-icon-img{
  transform: scale(0.75,0.75);
}
.geoMap.size_l #geoMapContainer .map-icon-img{
  transform: scale(1,1);
}
.geoMap.size_xl #geoMapContainer .map-icon-img{
  transform: scale(1.25,1.25);
}




/*.leaflet-control-custom-geo img .expandLayers,.leaflet-control-custom-geo img .collapseLayers,.leaflet-control-custom-geo img .zoomIn,.leaflet-control-custom-geo img .zomOut{
    
      width : 15px;
      height : 30px;
      margin : 1px 0px 0px 0px;
      cursor : pointer;
}



.leaflet-control-custom-geo hr {
     margin : 0px 2px 0px 3px;
     border : 1px solid #999;
}*/

.menu-bg {	height: auto;	width: 192px;	border-radius: 2px;	background-color: #FAFAFA;	box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);}
.menu-bg-copy {	height: 8px;	width: 192px;	border-radius: 2px 0 0 2px;	}
.path {	height: 16px;	width: auto;	color: rgba(0,0,0,0.54);	font-family: "Nokia Pure Text";	font-size: 13px;	font-weight: 500;	line-height: 16px;padding-left:5px;word-wrap: break-word;}
.toolFont {font-family: "Nokia Pure Text";	font-size: 12px;padding-top: 2px;padding-left:5px;white-space: initial;}
.menu_preference{
    width:100px;
}